/* STYLE GENERAL */
* {
  font-family: "Manrope", sans-serif;
}
p {
  font-size: 1rem;
  line-height: 1.3rem;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
.padding-form {
  padding-top: 100px;
}

/* HEADER */
/* logo header responsive*/
.img-header {
  max-width: 40%;
  height: auto;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .img-header {
    max-width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .img-header {
    max-width: 50%;
  }
}
.btn {
  border-radius: 0px;
}
.btn-secondary {
  background-color: #72211d;
  border-color: #72211d;
  color: white;
  font-size: 0.8rem;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: #72211d;
}
.custom-navbar {
  background-color: rgba(230, 225, 220, 0.5);
  box-shadow: 1px 1px 3px rgba(114, 33, 29, 0.5);
  z-index: 99;
}
.navbar .nav-link {
  color: black;
  font-size: 0.8rem;
}
.navbar .nav-link:hover {
  color: #72211d;
}

/* SECTION FOOTER */
.footer {
  background-color: #e6e1dc;
}
.footer img {
  height: 200px;
}
.legal-link a {
  margin-right: 10px;
}

/* SECTION COVER */
.cover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/cover.jpg) center center fixed no-repeat;
  height: 800px;
  background-size: cover;
}
.cover-desc h1 {
  color: white;
}

/* SECTION PRESENTATION */
.presentation .card-body {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.25);
}
/* SECTION MENU */
.menu {
  background-color: #9f754d;
}
.menu-title {
  color: white;
}
.menu .card-header {
  background-color: white;
}

/* SECTION HOUR */
.hour {
  margin-top: 80px;
  margin-bottom: 80px;
}
.hour .card-body {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.25);
}

/* SECTION CARTE */
.carte {
  background-color: #50463f;
}
.carte-title {
  margin-top: 90px;
  color: white;
}
.carte .card {
  background-color: #50463f;
}
.carte .nav-link {
  color: white;
}
.carte h2 {
  color: white;
  margin-bottom: 20px;
}
.carte h3 {
  color: white;
  font-weight: 600;
}
.carte h4 {
  color: white;
  font-weight: 500;
}
.carte p {
  color: #e6e1dc;
}
.carte hr {
  color: white;
  margin-top: -1px;
  margin-bottom: 20px;
}

/* SECTION RESERVATION */
.form-top h2 {
  color: white;
}
.form-top {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/book-img.jpg) center center fixed no-repeat;
  background-size: cover;
}
.form-bottom {
  background-color: #e6e1dc;
}
.form-label-top {
  color: white;
}

/* SECTION REGISTER */
.register-content {
  background-color: #9f754d;
}
.register h2 {
  color: white;
}

/* SECTION LOGIN */
.login-content {
  background-color: #72211d;
}
.login h2 {
  color: white;
}
.login .btn-secondary {
  background-color: white;
  border-color: white;
  color: #72211d;
}
.login p {
  color: white;
}
.login .graph {
  color: white;
}
